.home-main {
    margin-top: 20px;
    gap: 20px;
}

.home-main-info {
    width: 1207px;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #1A1A1A;
    border-radius: 20px;
}

.home-main-caption {
    margin-left: 80px;
}

.home-main-start {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: -40px;

    .start-name {
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        text-transform: uppercase;
        color: #CE7D63;
    }
}

.home-main-features {
    width: 1167px;
    margin-top: 90px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #0F0F0F;
    border-radius: 12px;
    list-style-type: none;
    gap: 20px;

    li {
        padding-left: 20px;
        background: url("/public/images/shape.png") no-repeat;
        background-position: 0;
        font-size: 20px;
        line-height: 150%;
        text-transform: uppercase;
        color: #676665;
    }
}

.home-main-picture {
    width: 593px;
    height: 465px;
    background: url("/public/images/home-main.png") no-repeat;
    position: relative;
}

.home-main .estate-link {
    position: absolute;
    top: 0;
    right: 0;
}

.home-main .estate-info {
    width: 593px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: #1F1F1F;
}

.home-main .estate-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #F9EFEC;
}

.home-main .estate-subtitle {
    margin-top: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B2;
}

.home-statistic {
    margin-top: 40px;
    margin-left: 20px;
    gap: 20px;
}

.home-statistic-item {
    width: 280px;
    height: 150px;
    padding-top: 30px;
    background-color: #1A1A1A;
    border-radius: 14px;
    text-align: center;

    .statistic-item-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-transform: uppercase;
        color: #B3B3B2;
    }

    .statistic-item-value {

        font-weight: 600;
        font-size: 60px;
        line-height: 150%;
        color: #DA9E8B;
    }

    .statistic-item-more {
        gap: 10px;
        width: fit-content;
        margin: 15px auto 0;

        .more-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            text-transform: uppercase;
            color: #B3B3B2;
        }

    }
}

.home-reasons-box {
    margin-top: 20px;
    gap: 20px;
}

.home-reasons-item {
    width: 430px;
    padding: 40px;
    background-color: #1A1A1A;
    border-radius: 14px;

    .reasons-item-title {
        font-weight: 500;
        font-size: 30px;
        line-height: 150%;
        text-transform: uppercase;
        color: #F9F7EC;
    }

    .reasons-item-desc {
        margin-top: 12px;
        font-size: 18px;
        line-height: 150%;
        color: #B3B3B2;
    }

    .reasons-item-more {
        margin-top: 40px;
        gap: 10px;

        .more-title {
            font-weight: 18;
            line-height: 150%;
            color: #B3B3B2;
        }
    }
}

.home-services-box {
    margin-top: 20px;
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 20px;
}

.home-works {
    margin-top: 80px;
}

.home-works-box {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
}

.home-works-item {
    width: 100%;
    padding: 10px;
    border: 2px solid #1F1F1F;
    border-radius: 20px;
    gap: 20px;

    .works-item-card {
        width: 579.33px;
        padding: 50px 30px;
        background-color: #1A1A1A;
        border-radius: 14px;

        .card-caption {
            gap: 10px;
        }

        .card-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            text-transform: uppercase;
            color: #F9EFEC;
        }

        .card-details {
            gap: 8px;
        }

        .card-details-title {
            font-family: "Roboto Mono", serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            text-transform: uppercase;
            color: #B3B3B2;
        }
    }

    .works-item-category {
        width: fit-content;
        margin-top: 30px;
        padding: 8px 14px;
        background-color: #1F1F1F;
        border-radius: 45px;
        gap: 6px;

        .category-title {
            font-size: 14px;
            line-height: 150%;
            color: #B3B3B2;
        }

        .category-name {
            font-weight: 500;
            font-size: 14px;
            color: #E6E6E6;
        }
    }

    .works-item-desc {
        margin-top: 30px;
        font-size: 16px;
        line-height: 150%;
        color: #B3B3B2;
    }

    .works-item-technologies {
        width: 579.33px;
        padding: 40px;
        background-color: #1A1A1A;
        border-radius: 14px;

        .technologies-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            text-transform: uppercase;
            color: #fff;
        }

        .technologies-box {
            width: 499.33px;
            margin-top: 20px;
            flex-wrap: wrap;
            column-gap: 10px;
            row-gap: 10px;
        }

        .technologies-item {
            width: fit-content;
            padding: 10px 16px;
            background-color: #1F1F1F;
            border-radius: 45px;
            font-family: "Roboto Mono", serif;
            font-size: 16px;
            line-height: 150%;
            color: #E6E6E6;

            &:nth-child(4) {
                text-transform: uppercase;
            }
        }
    }

    .worsks-item-team {
        width: 579.33px;
        margin-top: 20px;
        padding: 20px 40px;
        background-color: #1A1A1A;
        border-radius: 14px;
        gap: 40px;

        .team-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.5;
            text-transform: uppercase;
            color: #fff;
        }

        .team-box {
            gap: 10px;
        }
    }

    .worsks-item-call {
        display: block;
        width: 579.33px;
        margin-top: 20px;
        padding-top: 18px;
        padding-bottom: 18px;
        background-color: #CE7D63;
        border-radius: 12px;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        color: #0F0F0F;
    }
}

.home-testimonials-box {
    margin-top: 20px;
    gap: 20px;
}

.home-testimonials-item {
    width: 430px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #1A1A1A;
    border-radius: 16px;

    .testimonials-item-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        text-transform: uppercase;
        color: #F9EFEC;
    }

    .testimonials-item-desc {
        margin-top: 24px;
        font-size: 18px;
        line-height: 150%;
        color: #B3B3B2;
    }

    .testimonials-item-author {
        margin-top: 40px;
        margin-left: -40px;
        margin-right: -40px;
        padding: 30px 40px;
        background-color: #1F1F1F;

        .author-name {
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #F3DFD8;
        }

        .author-pos {
            font-size: 18px;
            line-height: 150%;
            color: #81807E;
        }
    }
}

.home-faq {
    margin-top: 120px;
}

.home-faq-content {
    margin-top: 20px;
    gap: 20px;
}

.home-faq-box {
    flex-direction: column;
    gap: 40px;
}

.home-faq-ask {
    width: 746px;
    padding: 60px;
    background-color: #1A1A1A;
    box-shadow: 10px 10px 50px rgba(0, 98, 255, 0.03);
    border-radius: 14px;

    .ask-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        text-transform: uppercase;
        color: #F9EFEC;
    }

    .ask-fm {
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px solid #262626;

        input, label, textarea {
            display: block;
        } 

        .input-bl {
            margin-bottom: 20px;
        }

        .input-bl-last {
            margin-bottom: 0;
        }

        label {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            color: #F3DFD8;
        }

        input, textarea {
            width: 100%;
            padding-top: 24px;
            padding-left: 24px;
            background-color: #0F0F0F;
            border: 1px solid #0F0F0F;
            border-radius: 10px;
            outline: none;
            font-size: 18px;
            line-height: 150%;
            color: #676665;

            &::placeholder {
                color: #676665;
            }
        } 

        input {
            padding-bottom: 24px;
        }

        textarea {
            height: 172px;
            resize: none;
        }
        
        button {
            display: block;
            width: 100%;
            margin-top: 50px;
            padding-top: 18px;
            padding-bottom: 18px;
            background-color: #CE7D63;
            border: 1px solid #CE7D63;
            border-radius: 12px;
            cursor: pointer;
            font-weight: 500;
            font-size: 18px;
            text-transform: uppercase;
            color: #0F0F0F;
        }
    }
}