.header {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 50px;
    padding-right: 24px;
    background-color: #1A1A1A;
    border: 1px solid #1C1C21;
    border-radius: 16px;
}

.header-nav {
    list-style-type: none;
    gap: 24px;
}

.header-nav-item {
    width: fit-content;
    padding: 14px 20px;
    background-color: #0F0F0F;
    border-radius: 12px;
    font-family: "Roboto Mono", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #81807E;

    a {
        color: #81807E;

        &:hover {
            color: #E7BEB1;
        }
    }
}

.header-nav .header-nav-contact {
    background-color: #CE7D63;
    color: #0F0F0F;

    a {
        color: #0F0F0F;
        
        &:hover {
            color: #0000FF;
        }
    }
}