* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 1920px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #0F0F0F;
  font-family: "Roboto Flex", serif;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.pos-r {
  position: relative;
}

.btn-clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.cur-p {
  cursor: pointer;
}

.page-title {
  font-weight: 600;
  font-size: 78px;
  line-height: 150%;
  text-transform: uppercase;
  color: #F9EFEC;
}

.page-desc {
  width: 927px;
  margin-top: 20px;
  margin-left: 80px;
  font-size: 18px;
  line-height: 150%;
  color: #676665;
}

.page-bl {
  margin-top: 120px;
  padding: 20px;
  border: 2px solid #1F1F1F;
  border-radius: 24px;
}

.page-bl-title {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  background-color: #1A1A1A;
  border-radius: 16px;
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  color: #F9EFEC;
}

.page-bl-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #1A1A1A;
  border-radius: 16px;

  .caption-title {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    color: #F9EFEC
  }

  .caption-all {
    display: flex;
    align-items: center;
    gap: 8px;

    .all-title {
      font-family: "Roboto Mono", serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      text-transform: uppercase;
      color: #B3B3B2;
    }
  }
}